<!DOCTYPE html>
<html>
  <head>
    <link href="~/css/styles.css" rel="stylesheet" type="text/css" media="all">
    <title>Mars Rover</title>
  </head>
  <body>

    <form id="rover-form" class="rover" action="/rover" method="post">
    
      <textarea name="coordinates" rows="10" cols="50" class="coordinates" form="rover-form"></textarea>
      <br/>
      <button type="submit">Rove</button>
    </form>

    <br/>
    <br/>
      <label>Rover Output(s): </label> 
      <p>@Html.Raw(ViewBag.output)</p>
     
  </body>
</html>